export MYZSH=$HOME/.my.zsh
THEME=$MYZSH/themes/lxsameer.zsh-theme

# Choose the system type you want: options are gentoo, debian, mac
export SYSTEM_TYPE="gentoo"

source $MYZSH/my.zsh

PROJECTS=$HOME/src/

# All of your configuration goes this file
load_overrides ~/.zshrc.override

setup_highlighting
setup_autosuggestion

export PATH=$PATH:~/bin

# add proxy
#export hostip=$(ip route | grep default | awk '{print $3}')
export hostip="127.0.0.1"
export socks_hostport=7890
export http_hostport=7890
alias proxy='
    export https_proxy="http://${hostip}:${http_hostport}"
    export http_proxy="http://${hostip}:${http_hostport}"
    export ALL_PROXY="socks5://${hostip}:${socks_hostport}"
    export all_proxy="socks5://${hostip}:${socks_hostport}"
'
alias unproxy='
    unset ALL_PROXY
    unset https_proxy
    unset http_proxy
    unset all_proxy
'
alias echoproxy='
    echo $ALL_PROXY
    echo $all_proxy
    echo $https_proxy
    echo $http_proxy
'
#end proxy



alias gst="git status"

#source /root/anaconda3/etc/profile.d/conda.sh
#conda activate my_env
